/* mini-reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    scroll-behavior: smooth;
    text-align: justify;
}

:root[data-theme="light"] {
    --primary: hsl(197, 68%, 37%);
    --secondary: hsl(193, 92%, 72%);
    --accent: hsl(199, 56%, 42%);
    --text-shadow: hsl(202, 79%, 23%);
    --btn: hsl(180, 100%, 36%);
}

:root[data-theme="dark"] {
    --primary: hsl(257, 75%, 15%);
    --secondary: hsl(260, 92%, 72%);
    --accent: hsl(257, 56%, 42%);
    --text-shadow: hsl(273, 100%, 50%);
    --btn: hsl(275, 94%, 20%);
}

/* body default style */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    text-transform: uppercase;

    &::-webkit-scrollbar {
        width: .25em;
    }

    &::-webkit-scrollbar-track {
        background: $black;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--btn);
    }
}

html {
    background: var(--primary);
}

html[data-theme="light"]>body {
    background: url(../../assets/imgs/day/pngegg-003.png) top right/clamp(800px, 80vw, 100%) no-repeat,
        url(../../assets/imgs/day/pngegg-004.png) top left/clamp(800px, 50vw, 100%) no-repeat,
        // url(../../assets/imgs/day/cloud-004.webp) 110% 20%/50vw no-repeat,
        // url(../../assets/imgs/day/cloud-003.webp) center left/clamp(1200px, 100vw, 100%) no-repeat,
        url(../../assets/imgs/day/cloud-004.webp) center right/clamp(1200px, 100vw, 100%) no-repeat,
        url(../../assets/imgs/day/cloud-007.webp) bottom center/clamp(1200px, 100vw, 100%) no-repeat;

    // url(../../assets/imgs/day/sun.webp) top right/75vw no-repeat;
    .infos {
        background: hsla(202, 79%, 23%, 0.44);
        padding: 24px;
        border-radius: $bor-ra;
        min-height: 552px;
        
        h1 *, h2 *{
            text-shadow: #000000a6 0px 2px 5px, #000000a6 0px 2px 5px;
        }
        p {
            //  color: #000;
            text-shadow: #000000a6 0px 0px 5px;
            font-weight: 350;
        }
    }
    #skills{
        h2 *{
            text-shadow: #000000a6 0px 2px 5px, #000000a6 0px 2px 5px;
        }
    }
}

html[data-theme="dark"]>body {
    background: var(--primary) url(../../assets/imgs/bg/bg.gif) top center/100%;
    
    #skills {
        background: url(../../assets/imgs/bg/left.webp) left/75vh no-repeat,
            url(../../assets/imgs/bg/center-002.webp) center/45vw no-repeat,
            url(../../assets/imgs/bg/right.webp) right/75vh no-repeat;
        box-shadow: inset var(--primary) 0px 0px 50px,
            inset var(--primary) 0px 0px 50px,
            inset var(--primary) 0px 0px 25px,
            inset var(--primary) 0px 0px 25px,
            inset var(--primary) 0px 0px 25px,
            inset var(--primary) 0px 0px 50px;
    }

    .infos {
        padding: 24px;
        min-height: 552px;
        p {
            font-weight: 350;
        }
    }
    #skills{
        h2 *{
            text-shadow: #000000a6 0px 2px 5px, #000000a6 0px 2px 5px;
        }
    }
}

.switch-mode {
    position: fixed;
    top: 55px;
    right: 12px;
    border-radius: $bor-ra;
    border: #1C274C 2px solid;
    background: #000000c4 url(../../assets/imgs/bg/bottom.webp) center/300px no-repeat;
    padding: 5px;
    width: max-content;
    display: flex;
    gap: 5px;
    flex-direction: column;

    .sep {
        background: #777;
        width: 100%;
        height: 2px;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        opacity: .6;
        transition: opacity .25s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}



.fade-in-section {
    opacity: 0;
    filter: blur(2px);
    transition: opacity 1s ease-out .25s, filter 1s ease-out .25s, transform 1s ease-out .25s;
}

.is-visible {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0);
}