// Fonts importation
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&display=swap');

// from 200 to 900
@mixin barlow($font-weight) {
    font-family: "Barlow", sans-serif;
    font-weight: $font-weight;
    font-style: normal;
}

// from 100 to 900
@mixin leaguespartan($font-weight) {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: $font-weight;
    font-style: normal;
}

// from 400 to 700
@mixin arimo($font-weight) {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: $font-weight;
    font-style: normal;
}

// vars
$spacing: 12px;
$spacing-md: $spacing * 1.25;
$spacing-lg: $spacing * 1.5;
$spacing-xl: $spacing * 1.75;
$spacing-2xl: $spacing * 2;
$spacing-xxl: $spacing * 4;

$bor-ra: 20px;
$bor-ra-md: $bor-ra * 1.25;
$bor-ra-lg: $bor-ra * 1.5;
$bor-ra-xl: $bor-ra * 1.75;
$bor-ra-2xl: $bor-ra * 2;

// colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$primary: hsl(257, 75%, 15%);
$secondary: hsl(260, 92%, 72%);
$tertiary: hsl(257, 56%, 42%);

$text-shadow: hsl(273, 100%, 50%);
$btn: hsl(275, 94%, 20%);



// mixins animation
@mixin zoom-up($scale: 1.1, $top: -5px) {
    transition: .25s transform ease-in-out;

    &:hover {
        transform: scale($scale) translateY($top);
    }
}

// Define the function without style rules
@function apply-animation($animation: light, $num-children: 20) {
    $animation-duration: 0.5s;
    $animation-delay: 0.05s;
  
    $styles: (); // Define an empty list to store styles
  
    @for $i from 1 through $num-children {
      // Add animation styles to the list
      $styles: append($styles, "&:hover :nth-child(#{$i}) {animation: #{$animation-duration} #{$animation} ease-in-out both #{$animation-delay * ($i - 1)};}");
    }
  
    @return $styles; // Return the list of styles
  }