/*Section 01*/
section{
    color: #fff;
    text-transform: uppercase;
    h2{
        font-family: 'titre';
    }
    .one{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5% 0 50px 0;
        .blocus{
            background: #000;
            margin: 25px;
            padding: 25px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            a{
                color: #fff;
            }
            &.rgt{
                height: 340px;
            }
            .proto{
                background: #1B0A45;
                text-align: center;
                display: flex;
                align-items:  center;
                justify-content: center;
                padding: 0 55px;
                margin: 10px;
                border-radius: 25px;
                width: 250px;
                font-family: 'text';
                min-height: 65px;
                box-shadow: 2px 2px 7px #BE8CD2;
                transition: all .25s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
            }

            img{
                width: 100%;
            }
            .maquette{
                display: flex;
                gap: 25px;
                align-items: center;
                margin: 15px 0;
                .otaku{
                    width: 250px;
                    position: relative;
                }
                .aishi{
                    width: 390px;
                    position: relative;
                }
                .panther{
                    width: 250px;
                    position: relative;
                }
            }
        }
        .btn-ma{
            background: #1B0A45;
            text-align: center;
            display: flex;
            align-items:  center;
            justify-content: center;
            margin: 10px;
            border-radius: 25px;
            height: 50px;
            width: 175px;
            font-family: 'text';
            box-shadow: 2px 2px 7px #BE8CD2;
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-57%);
            cursor: pointer;
            transition: all .25s ease-in-out;
            &:hover{
                transform: translateX(-57%) scale(1.1);
            }
        }
    }
    .two{
        .blocus{
            background: #000;
            background: #000;
            margin: 55px;
            padding: 25px 25px 5px 25px;
            border-radius: 20px;
            .vids{
                display: flex;
                justify-content: space-around;

            }
            .box{
                position: relative;
                width: max-content;
                margin: 25px 0;
                width: 400px;
                .video{
                    width: 100%;
                }
                .play{
                    position: absolute;
                    width: max-content;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    img{
                        cursor: pointer;
                        width: 75px;
                    }
                }
                .btn-vid{
                    background: #1B0A45;
                    text-align: center;
                    display: flex;
                    align-items:  center;
                    justify-content: center;
                    margin: 10px auto;
                    border-radius: 25px;
                    height: 50px;
                    width: 250px;
                    font-family: 'text';
                    box-shadow: 2px 2px 7px #BE8CD2;
                    cursor: pointer;
                    transition: all .25s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .three{
        .blocus{
            background: #000;
            background: #000;
            margin: 55px;
            padding: 25px 25px 5px 25px;
            border-radius: 20px;
            .pict{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 25px;
                .gsi{
                    width: 200px;
                    &.vacance{
                        width: 250px;
                    }
                    &.music{
                        width: 250px;
                    }
                    &.threee{
                        width: 320px;
                    }
                    .infinix{
                        display: flex;
                        gap: 5px;
                    }
                }
                img{
                    width: 100%;
                    cursor: pointer;
                    transition: all .1s ease-in-out;
                    &:hover{
                        transform: scale(1.02);
                    }
                }

            }
        }
    }
}