@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&display=swap");
/* mini-reset */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  scroll-behavior: smooth;
}

/* body default style */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: hsl(257, 75%, 15%) url(../../assets/imgs/bg/bg.gif) top center/100%;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  text-transform: uppercase;
}
body::-webkit-scrollbar {
  width: 0.25em;
}
body::-webkit-scrollbar-track {
  background: hsl(0, 0%, 0%);
}
body::-webkit-scrollbar-thumb {
  background: hsl(257, 92%, 76%);
}

/* arrow to navigate */
.portal {
  position: fixed;
  display: grid;
  gap: 48px;
  left: 12px;
  top: calc(50% + 42px);
  transform: translateY(calc(-50% - 42px));
}
.portal .arrow {
  width: 32px;
  height: 32px;
  background: hsl(0, 0%, 0%);
  cursor: pointer;
}

/* importing fonts */
a,
span {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: hsl(0, 0%, 100%);
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(1.5em, 10vw, 3em);
  width: max-content;
  text-shadow: hsl(0, 0%, 0%) 2px 2px 5px;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(1em, 5vw, 1.3em);
  text-shadow: hsl(0, 0%, 0%) 2px 2px 5px;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
}

p {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.active {
  color: hsl(260, 92%, 72%);
  text-shadow: hsl(273, 100%, 50%) 0px 0px 5px;
}

header {
  padding: 12px 16px;
  background: hsl(0, 0%, 0%);
}
header nav {
  display: flex;
  justify-content: space-between;
}
header a {
  transition: 0.25s all ease-in-out;
}
header a:hover {
  letter-spacing: 1px;
  color: hsl(260, 92%, 72%);
  text-shadow: hsl(273, 100%, 50%) 0px 0px 5px;
}

footer {
  background: hsl(0, 0%, 0%);
  padding: 50px 0 12px 0;
  margin-top: 8%;
}
footer a {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
footer h3,
footer h4 {
  color: hsl(260, 92%, 72%);
  text-shadow: hsl(273, 100%, 50%) 0px 0px 5px;
}
footer p:not(.not),
footer a {
  text-transform: initial;
  font-size: 1.2em;
}
footer .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 60px;
  line-height: 20px;
}
footer .contact h4 {
  margin-bottom: 12px;
}
footer .social-media {
  display: flex;
  gap: 10%;
  justify-content: center;
  margin-bottom: 24px;
}
footer .social-media .me {
  text-align: center;
}
footer .social-media .icons {
  display: flex;
  gap: 12px;
  width: max-content;
  margin: 8px auto;
}
footer .social-media .icons div {
  width: 35px;
  height: 35px;
  transition: 0.25s all ease-in-out;
  cursor: pointer;
}
footer .social-media .icons div:hover {
  transform: scale(1.1) translateY(-5px);
}
footer .social-media .icons img {
  width: 100%;
  height: 100%;
}
footer .copyright {
  margin-top: 12px;
  margin-bottom: 24px;
  text-align: center;
}

#bio {
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 24px;
  min-height: 90vh;
}
#bio .content {
  text-align: justify;
}
#bio .infos {
  width: 75%;
}
#bio .infos .content {
  width: clamp(300px, 100%, 405px);
  margin: 75px auto;
}
#bio .infos .title {
  margin-bottom: 24px;
}
#bio .infos .text {
  line-height: 25px;
  text-transform: initial;
  font-size: 1.25em;
}
#bio .desc {
  width: 50%;
}
#bio .desc .content {
  width: clamp(300px, 100%, 375px);
  background: hsl(0, 0%, 0%);
  box-shadow: #000000 0px 0px 10px;
  padding: 18px;
  border-radius: 20px;
}
#bio .desc .photo {
  width: max-content;
  margin: 0 auto 25px auto;
  width: clamp(100px, 100%, 420px);
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: #383838 0px 0px 8px;
}
#bio .desc .photo img {
  width: 175%;
  height: 100%;
  object-fit: cover;
  object-position: -125px 50%;
}
#bio .desc .about {
  line-height: 25px;
  width: 100%;
  text-align: justify;
}
#bio .desc .use {
  margin-top: 24px;
}
#bio .desc h3 {
  text-align: center;
  margin: 12px 0 25px 0;
  font-size: 1.2em;
}
#bio .about {
  padding: 0 24px;
}
#bio .about div {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
}
#bio .tools {
  display: flex;
  justify-content: space-evenly;
}
#bio .tools a {
  height: 55px;
  width: 55px;
  transition: 0.25s all ease-in-out;
  cursor: pointer;
}
#bio .tools a img {
  width: 100%;
  height: 100%;
}
#bio .tools a:hover {
  transform: scale(1.1) translateY(-5px);
}

#skills {
  margin-top: 5%;
  box-shadow: inset hsl(257, 75%, 15%) 0px 0px 50px, inset hsl(257, 75%, 15%) 0px 0px 50px, inset hsl(257, 75%, 15%) 0px 0px 50px, inset hsl(257, 75%, 15%) 0px 0px 50px, inset hsl(257, 75%, 15%) 0px 0px 50px;
  background: url(../../assets/imgs/bg/left.webp) left/75vh no-repeat, url(../../assets/imgs/bg/center-002.webp) center/45vw no-repeat, url(../../assets/imgs/bg/right.webp) right/75vh no-repeat;
}
#skills h2,
#skills h3 {
  text-align: center;
}
#skills h2 {
  margin-bottom: 75px;
  font-size: 2.5em;
}
#skills .cards {
  display: flex;
  justify-content: center;
  gap: 10%;
}
#skills .card {
  width: 320px;
  text-align: justify;
  line-height: 20px;
  background: hsl(240, 3%, 12%);
  box-shadow: hsla(0, 0%, 100%, 0.151) -15px 15px 20px, hsla(0, 0%, 0%, 0.568) 15px -15px 20px;
  padding: 18px;
  border-radius: 40px;
  position: relative;
  font-size: 1.1em;
}
#skills .card h3 {
  margin-bottom: 12px;
  font-size: 1.25em;
  color: hsl(260, 92%, 72%);
}
#skills .card p {
  margin-bottom: 24px;
  text-transform: initial;
}
#skills .card a {
  position: absolute;
  bottom: -20px;
  right: -15px;
  background: hsl(257, 56%, 42%) url(../../assets/imgs/right.svg) 90% 45%/0px no-repeat;
  padding: 10px 12px 7px 12px;
  border-radius: 25px;
  border: hsl(275, 94%, 20%) solid 2px;
  box-shadow: hsl(0, 0%, 100%) 0px 0px 5px;
  font-size: 0.9em;
  transition: 0.25s all ease 1.1s;
}
#skills .card a span {
  position: relative;
}
#skills .card a:hover :nth-child(1) {
  animation: 0.5s wave ease-in-out both;
}
#skills .card a:hover :nth-child(2) {
  animation: 0.5s wave ease-in-out both 0.15s;
}
#skills .card a:hover :nth-child(3) {
  animation: 0.5s wave ease-in-out both 0.2s;
}
#skills .card a:hover :nth-child(4) {
  animation: 0.5s wave ease-in-out both 0.25s;
}
#skills .card a:hover :nth-child(5) {
  animation: 0.5s wave ease-in-out both 0.25s;
}
#skills .card a:hover :nth-child(6) {
  animation: 0.5s wave ease-in-out both 0.3s;
}
#skills .card a:hover :nth-child(7) {
  animation: 0.5s wave ease-in-out both 0.35s;
}
#skills .card a:hover :nth-child(8) {
  animation: 0.5s wave ease-in-out both 0.4s;
}
#skills .card a:hover :nth-child(9) {
  animation: 0.5s wave ease-in-out both 0.45s;
}
#skills .card a:hover :nth-child(10) {
  animation: 0.5s wave ease-in-out both 0.5s;
}
#skills .card a:hover :nth-child(11) {
  animation: 0.5s wave ease-in-out both 0.55s;
}
#skills .card a:hover :nth-child(12) {
  animation: 0.5s wave ease-in-out both 0.6s;
}
#skills .card a:hover :nth-child(13) {
  animation: 0.5s wave ease-in-out both 0.65s;
}
#skills .card a:hover :nth-child(14) {
  animation: 0.5s wave ease-in-out both 0.7s;
}
#skills .card a:hover :nth-child(15) {
  animation: 0.5s wave ease-in-out both 0.75s;
}
#skills .card a:hover :nth-child(16) {
  animation: 0.5s wave ease-in-out both 0.8s;
}
#skills .card a:hover :nth-child(17) {
  animation: 0.5s wave ease-in-out both 0.85s;
}
#skills .card a:hover :nth-child(18) {
  animation: 0.5s wave ease-in-out both 0.9s;
}
#skills .card a:hover :nth-child(19) {
  animation: 0.5s wave ease-in-out both 0.95s;
}
#skills .card a:hover :nth-child(20) {
  animation: 0.5s wave ease-in-out both 1s;
}
#skills .card a:hover {
  right: -31px;
  background: hsl(257, 56%, 42%) url(../../assets/imgs/right.svg) 97% 45%/20px no-repeat;
  padding: 10px 28px 7px 12px;
}

@keyframes wave {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
/*Desktop First*/
.container {
  max-width: 1536px;
  margin: 0 auto;
  border: 1px solid #ff0000;
}

/*2xl*/
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
/*xl*/
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
/*lg*/
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
/*md*/
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
/*sm*/
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
/*xs*/
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}