// First section
#real {
    // width: calc(100vw - 50px);
    margin: calc($spacing-xxl * 2) auto 0;
    padding: 0 $spacing-xxl;
}

.box-r {
    background: $black;
    padding: $spacing-2xl;
    border-radius: $bor-ra-lg;
    margin: $spacing-2xl 0;
    height: auto;

    h2 {
        margin-bottom: $spacing-lg;
    }

    div {

        a {
            flex-grow: 1;
            display: grid;
            place-content: center;
            text-align: center;
            border-radius: $bor-ra-lg;
            width: calc((100% / 3) - 25px);
            min-width: 265px;
            @include arimo(400);
            background: var(--accent);
            padding: $spacing-2xl $spacing-2xl calc($spacing-2xl - 4px);
            margin: 0 auto;
            background: var(--accent) url(../../assets/imgs/right.svg) 85% center/0px no-repeat;
            border: 2px solid var(--primary);
            box-shadow: $white 0px 0px 5px;
            transition: .25s background ease-in-out .05s, .25s box-shadow ease-in-out .05s;
            @include reverse-l();
            position: relative;

            &::after {
                position: absolute;
                right: 50px;
                top: 50%;
                transform: translateY(-50%);
                content: '';
                width: 2px;
                height: 0%;
                transform-origin: center;
                background: var(--secondary);
                transition: .25s all ease-in-out .10s;
            }

            &:hover,
            &:focus {
                background: var(--accent) url(../../assets/imgs/right.svg) 97% center/25px no-repeat;
                box-shadow: $white 0px 0px 12px;

                &::after {
                    height: 75%;
                }
            }

        }
    }

    .proto-btn {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-2xl;
        justify-content: space-between;

        div {
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border-radius: 8px;
            width: calc((100% / 3) - 25px);
            max-width: 400px;
            min-width: 265px;
            @include arimo(400);
            background: var(--accent);
            padding: $spacing-2xl $spacing-2xl calc($spacing-2xl - 4px);
            background: var(--accent) url(../../assets/imgs/down.svg) 97% 18px/25px no-repeat;
            border: 2px solid var(--primary);
            box-shadow: $white 0px 0px 5px;
            position: relative;

            &::after {
                position: absolute;
                right: 50px;
                top: 30px;
                transform: translateY(-50%);
                content: '';
                width: 2px;
                height: 25px;
                transform-origin: center;
                background: var(--secondary);
            }
        }
    }

    .proto-box {

        display: flex;
        flex-wrap: wrap;
        gap: $spacing-2xl;
        justify-content: space-between;
    }
}

.proto-btn div {
    overflow: hidden;
    height: 60px;
    transition: .25s all ease-in-out .5s;
    cursor: cell;

    &:hover {
        height: 180px;
    }
}

.hidden {
    margin: $spacing-2xl 0 0;

    p {
        border-radius: $bor-ra-lg;
        border: 2px solid $white;
        padding: $spacing $spacing-2xl 10px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: relative;
        cursor: pointer;
    }
}

.design {
    .img {
        height: 240px;
        border-radius: 10px;
        border: 2px solid var(--primary);
        box-shadow: $white 0px 0px 5px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 5%;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        width: calc(100% / 3.5);
        gap: $spacing;

        a {
            width: 100%;
        }
    }
}

.video-box {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-2xl;
    justify-content: space-evenly;

    .video {
        max-width: 375px;
        width: 100%;
        min-width: 275px;
    }

    .thumb {
        position: relative;
        overflow: hidden;
        border-radius: $bor-ra $bor-ra 5px 5px;

        .preview {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 5%;
        }
    }

    .play {
        max-width: 85px;
        width: 20%;
        min-width: 45px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        cursor: pointer;
        transition: transform .25s ease-in-out;

        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }

    }

    .vid::after {
        display: none;
    }

    .vid {
        display: inline-block;
        border: none;
        box-shadow: none;
        width: 100%;
        border-radius: 5px 5px $bor-ra $bor-ra;
        background: var(--accent);
        text-align: left;
        pointer-events: none; // TODO switch to div

        &:hover {
            background: var(--accent);
        }
    }
}

.maquettes {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: minmax(50px, 1fr);
        gap: $spacing;

        .item {
            border: 2px solid var(--primary);
            border-radius: 15px;
            overflow: hidden;
            box-shadow: $white 0px 0px 5px;
            min-height: 50px;
            position: relative;
            cursor: pointer;

            &:hover::after,
            &:focus::after {
                filter: blur(0);
                opacity: 1;
            }

            &:hover h2,
            &:focus h2 {
                filter: blur(0);
                opacity: 1;
            }

            h2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: 2;
                border: 2px solid $white;
                border-radius: $bor-ra-lg;
                padding: $spacing $spacing-xl 10px;
                width: max-content;
                transition: border-radius .25s ease-in-out, opacity .25s ease-in-out .25s;
                font-weight: 400;
                backdrop-filter: blur(5px);
                cursor: pointer;
                filter: blur(5px);
                opacity: 0;

                &:hover {
                    border-radius: 12px;
                }
            }

            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000000b8;
                filter: blur(5px);
                opacity: 0;
                transition: all .25s ease-in-out;
                // backdrop-filter: blur(2px);
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .item-1,
        .item-2,
        .item-3,
        .item-4 {
            grid-row: span 2;
        }

        .item-5 {
            grid-row: 1;
        }

        .item-6 {
            grid-row: 2;
        }

    }
}

.photo {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: minmax(50px, 1fr);
        gap: $spacing;

        .item {
            border: 2px solid var(--primary);
            border-radius: 15px;
            overflow: hidden;
            box-shadow: $white 0px 0px 5px;
            min-height: 50px;

            grid-row: span 2;
            cursor: pointer;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

    }
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 300px;
    height: 300px;
    margin: auto 0;
}

.swiper-slide img {
    display: block; // Ensures the image is a block-level element
    max-width: 100%; // Limits the image width to not exceed its container
    max-height: 90%;
    height: auto; // Maintains the aspect ratio of the image
    margin: 35px auto 0; // Centers the image horizontally in its container
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 9999;
}