/*Desktop First*/
.container {
    max-width: 1536px;
    margin: 0 auto;
}

/*2xl*/
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/*xl*/
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/*lg*/
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    #bio {
        margin-top: 75px;
    }

    #skills {
        margin-bottom: 100px;
    }

    .design {
        .wrap {
            width: 50%;
            gap: $spacing;

        }
    }
}

/*md*/
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    // footer
    footer {

        .contact {
            padding: 0 10%;
            gap: $spacing-xl;

            div {

                margin: 0 auto 0 0;
            }

            .large {
                order: 4;
            }
        }
    }

    // skills
    #skills {
        height: 100%;

        background: url(../../assets/imgs/bg/top.webp) top/100vh no-repeat,
            url(../../assets/imgs/bg/center-002.webp) center/45vw no-repeat,
            url(../../assets/imgs/bg/bottom.webp) bottom/100vh no-repeat;
    }

    .design {
        div {
            flex-direction: column;
        }

        .wrap {
            width: 100%;
            gap: $spacing;

            a {
                width: auto;
            }
        }
    }
}

/*sm*/
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }

    body {
        font-size: 14px;
    }

    // header
    header {
        a {
            font-size: 1.2em;
        }
    }

    // footer
    // footer{

    //     .contact{
    //         div{
    //             margin-left: 15px;
    //             background: red;
    //         }
    //     }
    // }
}

/*xs*/
@media (max-width: 475px) {
    .container {
        width: 100%;
    }

    // footer
    // .contact{
    //     div{
    //         margin-left: clamp(100px, 25%, 250px);
    //     }
    // }

    .copyright {
        width: 30ch;
        margin: 0 auto;
    }

    // home skill cards
    .card {
        a {
            right: 50%;
            transform: translateX(50%);
            min-width: max-content;
        }
    }

    #real {
        margin: $spacing-xxl $spacing-lg 0;
    }
}