// mixins
@import './addons/mixins';
// animations
@import './animations/animations';


// default body
@import './addons/default';

// typo
@import './addons/typo';

// navbar and footer
@import './components/navbar';
@import './components/footer';

// home and other page
@import './pages/home';
@import './pages/projects';

// responsive
@import 'responsive';

main{
    width: 100%;
}
#lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 70%;
    max-height: 80%;
}

.close-lightbox {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}