@import "shared/default";
@import "shared/realisation";

/*Fonts*/
@font-face {
    font-family: 'nav';
    src: url(../fonts/Barlow-Black.ttf);
}
@font-face {
    font-family: 'titre';
    src: url(../fonts/LeagueSpartan-Bold.ttf);
}
@font-face {
    font-family: 'text';
    src: url(../fonts/Arimo-Regular.ttf);
}
p{
    font-family: 'text';
}

/*Variable*/
:root{
    --mode-jour-fond: #5F8DAB;
    --mode-nuit-fond: #1B0A45;
}

/*main*/
.first{
    display: flex;
    gap: 15px;
    text-align: justify;
    justify-content: space-around;
    align-items: center;
    margin: 5% 45px;
    color: #fff;
    .description{
        text-transform: uppercase;
        width: 30%;
        h1{
            font-family: 'titre';
            font-size: 3.1em;
            text-shadow: 5px 5px 7px #000;
        }
        h2{
            font-family: 'titre';
            font-size: 1.7em;
            letter-spacing: 2px;
            word-spacing: 10px;
            margin-bottom: 25px;
            text-shadow: 5px 5px 7px #000;
        }
        .txt-block p{
            margin: 10px 0;
            letter-spacing: 1px;
            line-height: 20px;
        }
        .see{
            font-family: 'text';
            background-color: #000;
            width: max-content;
            padding: 10px 30px;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 3px 3px 0px 0px rgba(255,255,255,.5);
            transition: all .25s ease-in-out;
            span{
                font-size: 1.3em;
                transition: all .25s ease-in-out;
                margin-left: 10px;
            }
            &:hover{
                box-shadow: 3px 3px 0px 0px rgba(255,255,255,.8);
            }
            &:hover span{
                margin-left: 30px;
            }
        }
    }
    .bio{
        margin: 0 0 25px 0;
        width: 400px;
        background: #000;
        border-radius: 20px;
        text-transform: uppercase;
        box-shadow: 11px -2px 35px -1px rgba(0,0,0,1);
        .pic{
            width: 100%;
            padding: 25px 20px 0 20px;
            img{
                width: 100%;
            }
            
        }
        h3{
            text-align: center;
            font-family: 'titre';
            line-height: 20px;
            margin: 15px 0 20px 0;
            &.use{
                font-size: 1.1em;
            }
        }
        .app{
            display: flex;
            margin: 10px 10px 35px 10px;
            justify-content: center;
            div{
                width: 75px;
                transition: transform .25s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
                img{
                    width: 100%;
                }
            }
        }
        .dscr{
            padding: 0 100px;
            width: 100%;
            text-align: justify;
            
            p{
                font-size: .7em;
                line-height: 35px;
            }
            .flex{
                display: flex;
                justify-content: space-between;
            }
            
        }
    }
}

/*links part*/
.second{
    color: #fff;
    text-transform: uppercase;
    height: 100%;
    display: none;
    h4{
        font-family: 'titre';
        font-size: 2.5em;
        text-align: center;
    }
    .click{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
        justify-content: space-around;
        margin: 50px;
        .btn{
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background: #000;
            width: 300px;
            height: 156px;
            margin: 10px 0;
            font-family: 'text';
            font-size: 1.3em;
            border-radius: 25px;
            box-shadow: 5px 5px 0px 0px rgba(255,255,255,.5);
        }
    }
}